
* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

h1 {
	margin: 15px;
	text-align: center;
	font-size: 150%;
	font-family:Castellar;
}

.box {
	border: 2px solid black;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(92,119,27,0.9808123078332895) 41%, rgba(0,212,255,1) 100%);
	margin: 5px 10px 15px 10px;
}

.box-heading {
	float: right;
	position: relative;
	right: -1px;
	top: -1px;
	min-width: 180px;
	text-align: center;
	margin: 0px;
	margin-bottom: 10px;
	border: 1px solid black;
	padding: 5px;
	color: #FFFFAA;
	font-size: 125%;
	font-family:Charlemagne Std;
}

.box-heading-1 {
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(124,32,92,1) 41%, rgba(0,212,255,1) 100%);
}

.box-heading-2 {
	background: linear-gradient(90deg, rgba(36,18,0,1) 4%, rgba(124,111,32,1) 38%, rgba(0,212,255,1) 92%);
}

.box-heading-3 {
	background: linear-gradient(90deg, rgba(36,18,0,1) 4%, rgba(187,125,22,1) 51%, rgba(0,212,255,1) 92%);
}

.box-content {
	clear: right;
	height: 300px;
	text-align: justify;
	width: 95%;	
	padding-right: 5%;	
	margin-right: 0px;
	margin-left: auto;
	margin-top:10px;
	color: white;
	overflow: auto;
}

.p {
	border: 1px solid black;
	background-color: #A52A2A;
	font-family: Helvetica;
}

.row {
	width: 100%;
}
@media (min-width: 992px) {
	.col-d-1, .col-d-2, .col-d-3 {
		float: left;	
	}
	.col-d-1 {
		width: 33.33%;
	}
	.col-d-2 {
		width: 66.66%;
	}
	.col-d-3 {
		width: 100%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.col-t-1, .col-t-2 {
		float: left;
	}
	.col-t-1 {
		width: 50%;
	}
	.col-t-2 {
		width: 100%;
	}
}
@media (max-width: 767px) {
	.col-m-1 {
		float: left;
		width: 100%;
	}
}